extends ../layout 

block content 
  div(style={'padding': '40px', 'color': '#343A40', 'line-height': '160%', 'background': '#F1F3F5'})
    h3(style={'margin': '0 0 10px 0', 'font-size': '1.2rem'}) #{name}님의 프로젝트 승인 요청
    p(style={'margin': '0', 'font-size': '1rem'}) '#{project.title}' 프로젝트가 제출되었습니다.
    p(style={'margin': '0', 'font-size': '1rem'}) 프로젝트 ID : #{project.id}
    p(style={'margin': '0 0 30px 0', 'font-size': '1rem'}) 지식스폰서 관리자에게 전송된 메일입니다.
    a(href='https://api.jisiksponsor.com/views/projects/status' + project.path style={'display': 'inline-block', 'padding': '15px 25px', 'font-size': '1.2rem', 'font-weight': '500', 'border-radius': '5px', 'color': '#ffffff', 'background': '#7950F2', 'text-decoration': 'none'}) 프로젝트 승인하러 가기
