extends ../layout 

block content 
  div(style={'padding': '40px', 'color': '#343A40', 'line-height': '160%', 'background': '#F1F3F5'})
    h3(style={'margin': '0 0 10px 0', 'font-size': '1.2rem'}) #{name}님, 안녕하세요!
    p(style={'margin': '0', 'font-size': '1rem'}) '#{project.title}' 제출하신 프로젝트가 승인 거부되었습니다.
    p(style={'margin': '0 0 30px 0', 'font-size': '1rem'})  프로젝트는 다시 작성하실 수 있는 상태로 변경되었습니다.
    a(href=siteURL + '/detail-project/' + project.path style={'display': 'inline-block', 'padding': '15px 25px', 'font-size': '1.2rem', 'font-weight': '500', 'border-radius': '5px', 'color': '#ffffff', 'background': '#7950F2', 'text-decoration': 'none'}) 프로젝트 계획서 다시 수정하기
