extends ../layout 

block content 
  div(style={'padding': '40px', 'color': '#343A40', 'line-height': '160%', 'background': '#F1F3F5'})
    h3(style={'margin': '0 0 10px 0', 'font-size': '1.2rem'}) #{name}님, 안녕하세요!
    p(style={'margin': '0', 'font-size': '1rem'}) 이메일 계정을 인증받으시려면 아래 링크를 클릭해주세요. (유효기간 3분)
    p(style={'margin': '0 0 30px 0', 'font-size': '1rem'}) (혹시 잘못 전달되었다면 이 이메일을 무시하셔도 됩니다.)
    a(href=url style={'display': 'inline-block', 'padding': '15px 25px', 'font-size': '1.2rem', 'font-weight': '500', 'border-radius': '5px', 'color': '#ffffff', 'background': '#7950F2', 'text-decoration': 'none'}) 링크를 클릭하여 이메일 인증하기
