<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
  </head>
  <body>
    프로젝트 아이디 : <input id="projectId" type="text" />
    <button onclick="approveFn()">승인</button>
    <script>
      function approveFn() {
        const projectId = document.querySelector('#projectId').value;
        console.log(projectId);
        $.ajax({
          url: `/projects/${projectId}/status`,
          method: 'PATCH',
          dataType: 'JSON',
          data: { status: 'approve' }
        })
          .done((data) => {
            // 요청 성공 시
            console.log(data);
            console.log('요청 성공');
          })
          .fail(() => {
            // 요청 실패 시
            console.log('요청 실패');
          })
          .always(() => {
            console.log('요청 종료');
          });
      }
    </script>
  </body>
</html>
